<%= form_for @assignment do |f| %>
  <%= render 'layouts/errors', object: @assignment %>
  <tr>
    <td>
      <%= f.select( :assignment_type,
                    options_for_select(@assayBatches), {},
                    {class: "form-control form-select assignment-input"} ) %>
    </td>
    <td>
      <%= f.text_field  :assignment_identifier,
                        autofocus: true,
                        class: "form-control assignment-input" %>
    </td>
    <td>
      <%= f.text_field :pick_up_time_string,
                        value: (@assignment.pick_up_time.nil? ?
                                  datetime_placeholder :
                                  @assignment.pick_up_time.pretty),
                        class: "form-control assignment-input" %>
    </td>
    <td>
      <%= f.text_field  :assigned_to,
                        class: "form-control assignment-input" %>
    </td>
    <td>
      <% unless current_page?(controller: 'assignments', action: 'index') %>
        <%= f.select( :status_of,
                      options_for_select(['Pending', 'Complete', 'Reassigned'], @assignment.status_of), {},
                      {class: "form-control form-select assignment-input"} ) %>
      <% else %>
        <%= @assignment.status_of %>
      <% end %>
    </td>
    <td>
      <% unless current_page?(controller: 'assignments', action: 'index') || @assignment.status_of == 'Pending' %>
        <%= f.text_field :review_complete_string,
                          value: (@assignment.review_complete.nil? ?
                                  datetime_placeholder :
                                  @assignment.review_complete.pretty),
                          class: "form-control assignment-input" %>
      <% end %>
    </td>
    <td>
      <%= f.text_field :num_samples,
          class: "form-control assignment-input" %>
    </td>
    <td>
      <%= f.text_field :notes,
          class: "form-control assignment-input" %>
    </td>
    <td>
      <%= f.submit  current_page?(controller: 'assignments', action: 'index') ? "Create" : "Update",
                    class: "btn btn-primary btn-xs assignment-create" %>
    </td>
  </tr>
<% end %>