<thead>
  <tr>
    <th><%= sortable "assignment_type", "Type" %></th>
    <th><%= sortable "assignment_identifier", "Identifier" %></th>
    <th><%= sortable "pick_up_time", "Pick Up" %></th>
    <th><%= sortable "assigned_to", "Assignee" %></th>
    <th><%= sortable "status_of", "Status" %></th>
    <th><%= sortable "review_complete", "Review" %></th>
    <th>Samples</th>
    <th>Notes & Miscellaneous</th>
    <th>Actions</th>
  </tr>
</thead>
