<% @assignments.each do |assignment| %>
  <tr class=<%='pending' if assignment.status_of == 'Pending' %>
            <%='reassign' if assignment.status_of == 'Reassigned' %>>
    <td>
      <%= "#{assignment_batch(assignment)} - #{assignment_assay(assignment)}" %>
    </td>
    <td>
      <%= link_to "#{assignment.assignment_identifier}",
                  assignment,
                  class: "btn btn-success btn-block btn-xs" %>
    </td>
    <% unless current_page?(controller: 'home', action: 'index') %>
      <td><%= "#{lab_date(assignment.pick_up_time)} /
              #{mil_time(assignment.pick_up_time)}" %>
      </td>
      <td><%= assignment.assigned_to %></td>
      <td><%= assignment.status_of %></td>
    <% end %>
    <td>
      <% unless assignment.review_complete %>
        <%= link_to 'Complete',
                assignment_path(assignment.id,
                                assignment: { review_complete: Time.now,
                                              status_of: 'Complete'}),
                method: 'patch',
                class: "btn btn-primary btn-xs btn-complete" %>
        <%= link_to 'Reassign',
                new_assignment_reassignment_path(assignment),
                class: "btn btn-primary btn-xs" %>
      <% else %>
        <%= "#{lab_date(assignment.review_complete)} / #{mil_time(assignment.review_complete)}" %>
      <% end %>
    <td><%= "#{assignment.num_samples}" %></td>
    <td>
      <%= link_to 'Notes', assignment_path(assignment), class: "btn btn-primary btn-xs" %>
      <%= link_to "Corrections",  assignment_corrections_path(assignment),
                                  class: "btn btn-primary btn-xs" %>
    </td>
    <td>
      <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-primary btn-xs" %>
      <%= link_to 'Delete', assignment_path(assignment),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: "btn btn-danger btn-xs" %>
    </td>
  </tr>
<% end %>