<h1>Edit Assignment</h1>
<table class="table table-assignments">
  <thead>
    <tr>
      <th>Type</th>
      <th>Identifier</th>
      <th>Pick Up Date/Time</th>
      <th>Assigned To</th>
      <th>Status</th>
      <th>Review Completion</th>
      <th>Number of Samples</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'form' %>
  </tbody>
</table>

<%= link_to 'All Assignments', assignments_path, class: "btn btn-info" %>