<h1>Assignments</h1>
<div class="table-responsive">
  <table class="table table-assignments">
    <%= render 'assignments/header_sort' %>
    <tbody>
      <%= render 'assignments/rows' %>
      <%= render 'assignments/form' %>
    </tbody>
  </table>
</div>