<h1>
  <strong>Assignment</strong>
  <br>
  <%= "#{assignment_batch(@assignment)}
      #{assignment_assay(@assignment)} - 
      #{@assignment.assignment_identifier}" %>
</h1>

<table class="table table-assignment-show">
  <tr>
    <th colspan="2">Pick Up</th>
    <td colspan="3"><%= lab_date_at_time(@assignment.pick_up_time) %></td>
  </tr>
  <tr>
    <th colspan="2">Completion</th>
    <td colspan="3">
      <%= @assignment.review_complete.nil? ?
          "Not Complete Yet" :
          lab_date_at_time(@assignment.review_complete) %>
    </td>
  </tr>
  <tr>
    <th colspan="2">Number of Samples</th>
    <td colspan="3"><%= @assignment.num_samples %></td>
  </tr>
  <tr>
    <th colspan="2">Notes</th>
    <td colspan="3">
      <%= @assignment.notes.empty? ? "N/A" : @assignment.notes %>
    </td>
  </tr>
  <% unless @corrections.empty? %>
    <tr class="corrections-row no-hover">
      <th colspan="5">Corrections</th>
    </tr>
    <tr class="corrections-row no-hover">
      <th>Made By</th>
      <th>Missed By</th>
      <th>Type</th>
      <th>Description</th>
      <th>Corrected</th>
    </tr>
    <% @corrections.each do |correction| %>
      <tr class="corrections-row">
        <td><%= correction.made_by %></td>
        <td><%= correction.missed_by %></td>
        <td><%= correction.error_type %></td>
        <td><%= correction.description %></td>
        <td><%= correction.corrected ? "Yes" : "Not Yet" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to "Add a Correction", new_assignment_correction_path(@assignment), class: "btn btn-primary" %>
<%= link_to "Edit Assignment", edit_assignment_path, class: "btn btn-primary" %>