<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-devise">
    <%= devise_error_messages! %>
    
    <div class="form-group">
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="field">
        <%= f.label :initials %><br />
        <%= f.text_field :initials, autofocus: true, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
