<div class="table-wrap">
  <table class="table">
    <thead>
      <tr>
        <th colspan="6" class="home-header">Assignments</th>
      </tr>
      <tr>
        <th>Type</th>
        <th>Identifier</th>
        <th>Review</th>
        <th>Samples</th>
        <th>Notes & Misc.</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'assignments/rows' %>
    </tbody>
  </table>
</div>