<div class="table-wrap">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" class="home-header">Progress</th>
      </tr>
      <tr>
        <th>Batch</th>
        <th>Samples Pending</th>
      </tr>
    </thead>
    <tbody>
        <% @assayBatches.each do |ab| %>
          <tr>
            <td><%= "#{batch_num(ab.production_batch_date.batch_date)} - #{ab.assay.name}" %></td>
            <td><%= ab.accession_total %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>