<div class="table-wrap">
  <table class="table">
    <thead>
      <tr>
        <th colspan="6" class="home-header">Corrections</th>
      </tr>
      <tr>
        <th>Assignment Type</th>
        <th>Identifier</th>
        <th>Error Type</th>
        <th>Made By</th>
        <th>Description</th>
        <th>Corrected?</th>
      </tr>
    </thead>
    <tbody>
      <% @corrections.each do |c| %>
        <tr>
          <td><%= "#{correction_batch_num(c)} - #{correction_assay_name(c)}" %></td>
          <td>
            <%= link_to c.assignment.assignment_identifier,
                        assignment_corrections_path(c.assignment),
                        class: "btn btn-success btn-xs btn-block" %>
          </td>
          <td><%= c.error_type %></td>
          <td><%= c.made_by %></td>
          <td><%= c.description %></td>
          <td>
            <%= c.corrected ?
                  "Yes" :  (link_to 'Mark as Corrected',  assignment_correction_path( c.assignment.id,
                                                          c.id,
                                                          correction: { corrected: true }),
                                                          method: 'patch',
                                                          class: "btn btn-primary btn-xs") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>