<div class="home-scr">
  <div class="top-pane">
    <div class="left-pane">
      <%= render 'batch_info' %>
    </div>
    <div class="right-pane">
      <%= render 'assignments_info' %>
    </div>
  </div>
  <div class="bottom-pane">
    <div class="full-width-pane">
      <%= render 'corrections_info' %>
    </div>
  </div>
</div>