<%= form_for @batch do |f| %>
  <%= render 'layouts/errors', object: @batch %>
  
  <% if current_page?(controller: 'production_batch_dates', action: 'new') %>
  <% elsif current_page?(controller: 'production_batch_dates', action: 'edit') %>
    <div class="alert alert-success alert-production-batch-current-params">
      <p>Editing batch currently set as: <%= lab_date(@batch.batch_date) %></p>
    </div>
  <% end %>
  
  <%= f.label current_page?(controller: 'production_batch_dates', action: 'new') ?
              :batch_date : "Batch date should be:" %>
  <%= f.date_select :batch_date,
      {order: [:day, :month, :year],
      use_short_month: true},
      {class: "form-control form-select"} %>
  <%= f.submit current_page?(controller: 'production_batch_dates', action: 'new') ? "Create" : "Update",
               class: "btn btn-primary btn-batch-create" %>
<% end %>

<%= link_to "View All Production Batches", production_batch_dates_path, class: "btn btn-info" %>