<h1>Production Batches</h1>

<%= search_form_for @q, {class: "form-inline form-batch-date-search"} do |f| %>
  <div class="form-group">
    <%= f.label "On or later than" %>
    <%= f.date_select :batch_date_gteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.label "Earlier than or on" %>
    <%= f.date_select :batch_date_lteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<%= will_paginate @batches, renderer: BootstrapPagination::Rails %>

<table class="table table-batches">
  <thead>
    <tr>
      <th>Batch Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= link_to "#{batch_num(batch.batch_date)}",
                        batch,
                        class: "btn btn-success btn-block" %></td>
        <td>
          <%= link_to 'Edit', edit_production_batch_date_path(batch),
                              class: "btn btn-primary" %>
        <% if can? :destroy, batch %>
          <%= link_to 'Delete', production_batch_date_path(batch),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: "btn btn-danger" %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Production Batch", new_production_batch_date_path, class: "btn btn-primary" %>