<h1>
  <strong>Batch Date</strong>
  <br>
  <%= lab_date(@batch.batch_date) %>
</h1>
<h2>
  <strong>Batch Number</strong>
  <br>
  <%= batch_num(@batch.batch_date) %>
</h2>

<table class="table table-batches">
  <thead>
    <tr>
      <th>Assay</th>
      <th>Accession Total</th>
    </tr>
  </thead>
  <tbody>
    <% @assayBatches.each do |assayBatch| %>
      <tr>
        <td><%= Assay.find_by_id(assayBatch.assay_id).name %></td>
        <td><%= assayBatch.accession_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View All Production Batches", production_batch_dates_path, class: "btn btn-info" %>