<%= form_for @assayBatch, html: {class: "form-horizontal form-assay-batch"} do |f| %>
  <%= render 'layouts/errors', object: @assayBatch %>
  <% if current_page?(controller: 'assay_batches', action: 'new') %>
  <% elsif current_page?(controller: 'assay_batches', action: 'edit') %>
    <div class="alert alert-success alert-assay-current-params">
      <h3>Current Parameters</h3>
      <p>
        <%= "Assay name: #{assay_batch_name(@assayBatch)}" %>
        <br>
        <%= "Batch Number: #{assay_batch_num(@assayBatch)}" %>
        <br>
        <%= "Total Accessioned: #{@assayBatch.accession_total}" %>
      </p>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label current_page?(controller: 'assay_batches', action: 'new') ?
                :assay_id : "Assay name should be:" %>
    <%= f.select( :assay_id,
                  options_for_select(@assay_options), {},
                  {class: "form-control"} ) %>
    
    <%= f.label current_page?(controller: 'assay_batches', action: 'new') ?
                "Batch Number" : "Batch Number should be:" %>
    <%= f.select( :production_batch_date_id,
                  options_for_select(@batch_options), {},
                  {class: "form-control"} ) %>
                  
    <%= f.label current_page?(controller: 'assay_batches', action: 'new') ?
                "Total Accessioned" : "Total Accessioned should be:" %>
    <%= f.text_field :accession_total, class: "form-control assay-batch-accession" %>
    
    <%= f.submit current_page?(controller: 'assay_batches', action: 'new') ?
                 "Create" : "Update",
                 class: "btn btn-primary btn-assay-batch-create" %>
  </div>
<% end %>

<%= link_to "View All Assay Batches", assay_batches_path, class: "btn btn-info" %>