<h1>Assay Batches</h1>

<%= search_form_for @q, {class: "form-inline form-assay-batch-search"} do |f| %>
  <div class="form-group field-assay-name">
    <%= f.label "Assay name" %>
    <%= f.search_field :assay_name_matches, class: "form-control" %>
  </div>
    
  <div class="form-group">
    <%= f.label "On or later than" %>
    <%= f.date_select :production_batch_date_batch_date_gteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.label "Earlier than or on" %>
    <%= f.date_select :production_batch_date_batch_date_lteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>


<%= will_paginate @assayBatches, renderer: BootstrapPagination::Rails %>

<table class="table table-assays">
  <thead>
    <tr>
      <th>Assay Batches</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assayBatches.each do |assayBatch| %>
      <tr>
        <td>
          <%= link_to  "#{assay_batch_num(assayBatch)} -
                        #{assay_batch_name(assayBatch)}",
                        assayBatch,
                        class: "btn btn-success btn-block" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_assay_batch_path(assayBatch), class: "btn btn-primary" %>
          <% if can? :delete, assayBatch %>
            <%= link_to 'Delete', assay_batch_path(assayBatch),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Assay Batch", new_assay_batch_path, class: "btn btn-primary" %>