<h1>
  <strong>Assay Batch</strong>
  <br>
  <%=  "#{assay_batch_name(@assayBatch)} from
        #{assay_batch_num(@assayBatch)}" %>
</h1>

<table class="table table-assay-batch-show">
  <tr>
    <th>Accessioned</th>
    <td><%= @assayBatch.accession_total %></td>
  </tr>
  <tr>
    <th>Total Samples Reviewed</th>
    <td><%= num_samples_reviewed(@assignments) %></td>
  </tr>
  <tr>
    <th>Total Samples Pending</th>
    <td><%= @assayBatch.accession_total - num_samples_reviewed(@assignments) %></td>
  </tr>
  <tr>
    <th>Total Number of Assignments</th>
    <td><%= @assignments.count %></td>
  </tr>
  <tr>
    <th>Number of Assignments Completed</th>
    <td><%= num_assignments_completed(@assignments) %></td>
  </tr>
  <tr>
    <th>Number of Assignments Pending</th>
    <td><%= @assignments.count - num_assignments_completed(@assignments) %></td>
  </tr>
</table>

<%= link_to 'Edit Assay Batch', edit_assay_batch_path(@assayBatch), class: "btn btn-info" %>
<%= link_to 'View All Assay Batches', assay_batches_path, class: "btn btn-info" %>