<%= form_for [@assignment, @reassignment], html: {class: "form-horizontal form-new-reassignment"} do |f| %>
  <%= render 'layouts/errors', object: @reassignment %>
  
  
  <% if @reassignment.id && current_page?(controller: 'reassignments', action: 'edit')
  %>
    <div class="form-group">
      <%= f.label :reassigned_from %>
      <%= f.text_field  :reassigned_from,
                        value: @assignment.assigned_to,
                        class: "form-control" %>
    </div>
  <% else %>
    <div><%= @assignment.assigned_to %></div>
  <% end %>
    
  <div class="form-group">  
    <%= f.label :reassigned_to %>
    <%= f.text_field :reassigned_to, class: "form-control" %>
  </div>
  
  <div class="form-group">  
    <%= f.submit  current_page?(controller: 'reassignments', action: 'new') ?
                  "Create" : "Update",
                  class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Reassignments for #{assignment_name(@assignment)}",
              assignment_reassignments_path(@assignment),
              class: "btn btn-primary btn-success" %>