<h1>Reassignments for <%= "#{@assignment.assignment_identifier}"%></h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @reassignments.each do |reassignment| %>
        <tr>
          <td><%= reassignment.reassigned_from %></td>
          <td><%= reassignment.reassigned_to %></td>
          <td>
            <%= link_to 'Edit', edit_assignment_reassignment_path(@assignment.id,
                                                                  reassignment.id),
                                                                  class: "btn btn-primary btn-xs" %>
            <%= link_to 'Delete', assignment_reassignment_path( @assignment.id,
                                                              reassignment.id),
                                                              method: :delete,
                                                              data: { confirm: 'Are you sure?' },
                                                              class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add New Reassignment", new_assignment_reassignment_path(@assignment),
                                    class: "btn btn-primary" %>
<div class="btn-separator"></div>
<%= link_to "View Assignment Details", assignment_path(@assignment), class: "btn btn-info" %>