@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,400italic);

$lighter-red:       #FAAAAA;
$light-red:         #F66666;
$highlight-blue:    #C6D6F5;
$extra-light-blue:  #F6F9FF;
$light-blue:        #E4EDFF;
$table-blue:        #F3F7FF;
$dark-blue:         #80A3E8;
$darker-blue:       #4D7AD4;
$highlight-yellow:  #FDFD99;
$highlight-green:   #B9EACA;

@mixin table-bottom {
  margin-bottom: .5em;
}

@mixin nav-shadow {
  box-shadow: 2px 2px 8px -2px rgba(77,122,212,.3);
}
  
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(45deg, #E5EDFF 20%, #F6F9FF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin-top: 5em;
  text-align: center;
  padding-bottom: 4em;
}

.navbar-brand {
  height: 50px;
  width: 66px;
  background: url(QAppLogo.png) 50% 0 no-repeat;
  background-size: contain;
  text-indent: -999em;
  opacity: .8;
  transition: opacity .3s ease;
  &:hover {
    opacity: 1;
  }
}

.navbar-default {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.9) 64%, #e4edff 100%);
  .navbar-nav {
    li {
      &:hover,
      &:focus {
        @include nav-shadow;
      }
    }
    .sign-in {
      &:hover,
      &:focus {
        box-shadow: none;
      }
      &:last-child {
        a {
          display: inline-block;
        }
      }
    }
    .open {
      background-color: $extra-light-blue;
      .dropdown-toggle {
        @include nav-shadow;
        background-color: inherit;
        &:hover,
        &:focus {
          background-color: inherit;
        }
      }
      .dropdown-menu {
        background-color: rgba(240, 245, 255, 0.97);
        li {
          &:hover,
          &:focus {
            box-shadow: none;
          }
          a {
            &:hover,
            &:focus {
              background-color: $light-blue;
            }
          }
        }
      }
    }
  }
}

#remove-alert {
  padding: 0;
  border: none;
  margin-left: -14px;
  float: right;
  background: none;
}

tbody {
  background-color: $table-blue;
}

.table {
  margin: auto;
  background: linear-gradient(120deg, #ffffff 64%, #e4edff 100%);
  border-top: 2px solid $darker-blue;
  border-right: 2px ridge $dark-blue;
  border-bottom: 2px solid $dark-blue;
  border-left: 2px ridge $dark-blue;
  thead {
    tr {
      th {
        border-bottom: 2px solid $darker-blue;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
      &:hover {
        background-color: $highlight-blue !important;
      }
    }
    .no-hover {
      &:hover {
        background-color: inherit;
      }
    }
    .pending {
      background-color: $highlight-yellow !important;
    }
    .reassign {
      background-color: $highlight-green !important;
    }
  }
}

form {
  margin-bottom: .6em;
}

.form-group {
  margin-bottom: .5em;
}

.form-devise {
  .form-group {
    input {
      width: 17em;
      margin: auto;
    }
  }
}

.devise-shared {
  margin-bottom: .5em;
}

.table-batches {
  @include table-bottom;
  width: 30em;
}

.btn-batch-create,
.btn-assay-create {
  margin-bottom: .25em;
}

.btn-assay-batch-create {
  margin-top: .25em;
}

.table-assays {
  @include table-bottom;
  width: 35em;
}

.table-assay-batch-show {
  @include table-bottom;
  width: 35em;
}

.table-assignments {
  @include table-bottom;
  font-size: .8em;
  thead {
    tr {
      th {
        font-size: 1.1em;
        a {
          padding: 0 12px;
        }
        /* Pick Up Time*/
        &:nth-child(3) {
          min-width: 10em;
        }
        /* Assigned To, Number of Samples*/
        &:nth-child(4), &:nth-child(7) {
          width: 6em;
        }
        /* Review Completion */
        &:nth-child(6) {
          width: 12.1em;
          min-width: 12.1em;
        }
        /* Notes and Misc. */
        &:nth-child(8) {
          min-width: 20em;
        }
        /* Action Buttons */
        &:last-child {
          min-width: 8em;
        }
      }
      .current {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: .8em;
      }
      .asc {
        background-image: url(triangle-down.png);
      }
      .desc {
        background-image: url(triangle-up.png);
      }
    }
  }
  tbody {
    tr {
      td {
        padding: .2em;
        .form-control {
          box-shadow: none;
        }
        &:first-child {
          padding-left: 1.1em;
          text-align: left;
        }
        &:nth-child(8) {
          width: 25em;
        }
      }
      &:last-child {
        td {
          padding: .8em .3em;
          border-top: 2px solid $dark-blue;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.table-assignment-show {
  @include table-bottom;
  max-width: 41em;
  .corrections-row {
    th, td {
      text-align: center;
    }
    &:nth-child(5) {
      th {
        border: 1px solid $dark-blue;
        border-top: 2px solid $dark-blue;
      }
    }
    &:nth-child(6) {
      border-bottom: 2px solid $dark-blue;
    }
  }
}

.table-corrections {
  @include table-bottom;
}

.alert-assay-current-params {
  width: 25em;
}

.alert-production-batch-current-params {
  width: 30em;
}

.btn-separator {
  height: .2em;
}

.alert {
  margin: 3em auto -6em auto;
  text-align: center;
  h3 {
    margin-top: 0;
  }
}

.alert-notice {
  width: 25em;
  margin: 5em auto -3em auto;
  text-align: center;
}

.form-assay-batch {
  .form-group {
    width: 15em;
    margin: auto;
  }
}

.form-new-correction {
  .form-group {
    width: 15em;
    margin: auto;
  }
}

.form-select, .assay-name-input {
  display: inline-block;
  width: auto;
}

.assignment-input {
  height: 2em;
  padding: 0;
  font-size: 1em;
  text-align: center;
}

.assignment-create {
  width: 6.8em;
  margin: auto;
}

.assay-batch-accession {
  text-align: center;
}

#error_explanation {
  h2 {
    font-size: 1.5em;
  }
  ul {
    li {
      display: block;
    }
  }
}

.field_with_errors {
  display: inline;
}

.home-scr {
  margin-top: -1.4em;
  font-size: .9em;
}

@media (max-width: 767px) {
  .form-batch-date-search {
    .form-group {
      width: 8em;
      margin: auto;
      &:last-child {
        margin-top: .4em;
      }
    }
  }
  .form-assay-batch-search {
    .form-group {
      width: 8em;
      margin: auto;
      &:last-child {
        margin-top: .4em;
      }
    }
    .field-assay-name {
      width: 12.4em;
    }
  }
}

@media (min-width: 768px) {
  .form-inline {
    .form-group {
      margin-bottom: .4em;
    }
  }
  
  .navbar-nav {
    .sign-in {
      position: absolute;
      right: 0;
    }
  }
  
  .home-scr {
    height: 45.4em;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.75);
    .top-pane,
    .bottom-pane {
      .left-pane,
      .right-pane,
      .full-width-pane {
        height: 100%;
        overflow: auto;
        .home-header {
          padding: .5em;
          border-top: 2px solid black;
          margin: 0;
          font-size: 1.5em;
          background: linear-gradient(120deg, rgba(255, 255, 255, 1) 50%, #e4edff 100%);
        }
        .table-wrap {
          box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.75);
        }
        table {
          width: 100%;
          border: none;
          thead, tbody {
            width: 100%;
            display: table;
            tr {
              background-color: $extra-light-blue;
              td {
                padding: .2em;
                /* First column */
                &:first-child {
                  padding-left: 1em;
                  text-align: left;
                  box-shadow: inset 10px 0px 15px -10px rgba(0, 0, 0, 0.75);
                }
                /* Last column */
                &:last-child {
                  box-shadow: inset -10px 0px 15px -10px rgba(0, 0, 0, 0.75);
                }
              }
              /* Top row */
              &:first-child {
                td {
                  box-shadow: inset 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
                  /* First column */
                  &:first-child {
                    box-shadow: inset 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
                  }
                  /* Last Column */
                  &:last-child {
                    box-shadow: inset -10px 10px 15px -10px rgba(0, 0, 0, 0.75);
                  }
                }
              }
              /* Bottom row */
              &:last-child {
                td {
                  box-shadow: inset 0px -10px 15px -10px rgba(0, 0, 0, 0.75);
                  /* First column */
                  &:first-child {
                    box-shadow: inset 10px -10px 15px -10px rgba(0, 0, 0, 0.75);
                  }
                  /* Last Column */
                  &:last-child {
                    box-shadow: inset -10px -10px 15px -10px rgba(0, 0, 0, 0.75);
                  }
                }
              }
            }
          }
          thead {
            position: absolute;
            border: 2px ridge $darker-blue;
            background-color: $light-blue;
            opacity: .98;
            tr {
              th {
                text-align: center;
              }
            }
          }
          tbody {
            margin-top: 6.55em;
            background-color: transparent;
          }
          
        }
      }
    }
    .top-pane {
      height: 32em;
      .left-pane {
        box-shadow: 1px 0px 15px 1px rgba(0,0,0,0.5);
        width: 28%;
        float: left;
        table {
          box-shadow: inset -4px -4px 15px -4px rgba(0,0,0,0.75);
          thead, tbody {
            tr {
              th, td {
                &:first-child {
                  width: 65%;
                  min-width: 212px;
                }
                &:last-child {
                  width: 35%;
                  min-width: 115px;
                }
              }
            }
          }
          thead {
            width: 28%;
            box-shadow: inset -4px 4px 15px -4px rgba(0,0,0,0.75);
          }
          tbody {
            tr {
              td {
                height: 27px;
                &:first-child {
                  padding-left: 1em;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      .right-pane {
        width: 72%;
        float: right;
        table {
          box-shadow: inset 4px -4px 15px -4px rgba(0,0,0,0.75);
          thead, tbody {
            .pending,
            .reassign {
              td {
                &:first-child {
                }
              }
            }
            tr {
              th, td {
                &:first-child {
                  width: 34.05%;
                }
                &:nth-child(2) {
                  width: 34.05%;
                }
                &:nth-child(3) {
                  width: 9.7%;
                  min-width: 140px;
                }
                &:nth-child(4) {
                  width: 6%;
                }
                &:nth-child(5) {
                  width: 9.2%;
                  min-width: 140px;
                }
                &:last-child {
                  width: 7%;
                  min-width: 102px;
                }
              }
            }
          }
          thead {
            width: 72%;
            box-shadow: inset 4px 4px 15px -4px rgba(0,0,0,0.75);
          }
          tbody {
          }
        }
      }
    }
    .bottom-pane {
      height: 13.4em;
      .full-width-pane {
        width: 100%;
        table {
          box-shadow: inset 4px -4px 15px -4px rgba(0,0,0,0.75);
          thead, tbody {
            tr {
              th, td {
                &:first-child {
                  width: 18%;
                  min-width: 229px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                  width: 13%;
                  min-width: 165px;
                }
                &:nth-child(4) {
                  width: 3%;
                  min-width: 69px;
                }
                &:nth-child(5) {
                }
                &:last-child {
                  width: .1%;
                  min-width: 110px;
                  padding-right: .7em;
                }
              }
            }
          }
          thead {
            box-shadow: inset 4px 4px 15px -4px rgba(0,0,0,0.75);
          }
          tbody {
            tr {
              td {
                &:first-child {
                  padding-left: 1em;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}