<%= form_for [@assignment, @correction], html: {class: "form-horizontal form-new-correction"} do |f| %>
  <%= render 'layouts/errors', object: @correction %>
  
  <div class="form-group">
    <%= f.label :made_by %>
    <%= f.text_field :made_by, class: "form-control" %>
  </div>
    
  <div class="form-group">  
    <%= f.label :missed_by %>
    <%= f.text_field :missed_by, class: "form-control" %>
  </div>
  
  <div class="form-group">  
    <%= f.label :error_type %>
    <%= f.text_field :error_type, class: "form-control" %>
  </div>
  
  <div class="form-group">  
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  
  <div class="form-group">  
    <%= f.label 'Corrected?' %>
    <%= f.check_box :corrected %>
  </div>
  
  <div class="form-group">  
    <%= f.submit  current_page?(controller: 'corrections', action: 'new') ?
                  "Create" : "Update",
                  class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Corrections for #{assignment_name(@assignment)}",
              assignment_corrections_path(@assignment),
              class: "btn btn-primary btn-success" %>