<h1>Corrections for <%= "#{@assignment.assignment_identifier}"%></h1>
<div class="table-responsive table-corrections">
  <table class="table">
    <thead>
      <tr>
        <th>Made By</th>
        <th>Overlooked By</th>
        <th>Type</th>
        <th>Description</th>
        <th>Corrected?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @corrections.each do |correction| %>
        <tr>
          <td><%= correction.made_by %></td>
          <td><%= correction.missed_by %></td>
          <td><%= correction.error_type %></td>
          <td><%= correction.description %></td>
          <td>
            <%= correction.corrected ?
                "Yes" :  (link_to 'Mark as Corrected',  assignment_correction_path( @assignment.id,
                                                correction.id,
                                                correction: { corrected: true }),
                                                method: 'patch',
                                                class: "btn btn-primary btn-xs") %>
          </td>
          <td>
            <%= link_to 'Edit',  edit_assignment_correction_path( @assignment.id,
                                                                  correction.id),
                                                                  class: "btn btn-primary btn-xs" %>
            <%= link_to 'Delete', assignment_correction_path( @assignment.id,
                                                              correction.id),
                                                              method: :delete,
                                                              data: { confirm: 'Are you sure?' },
                                                              class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add New Correction", new_assignment_correction_path(@assignment),
                                  class: "btn btn-primary" %>
<div class="btn-separator"></div>
<%= link_to "View Assignment Details", assignment_path(@assignment), class: "btn btn-info" %>
