<%= form_for @assay, html: {class: "form-horizontal"} do |f| %>
  <%= render 'layouts/errors', object: @assay %>
  
  <% if current_page?(controller: 'assays', action: 'new') %>
  <% elsif current_page?(controller: 'assays', action: 'edit') %>
    <div class="alert alert-success alert-assay-current-params">
      <p>Editing assay currently named: <%= @assay.name %></p>
    </div>
  <% end %>
  
  <%= f.label current_page?(controller: 'assays', action: 'new') ?
              :name : "Assay name should be:" %>
  <%= f.text_field :name, class: "form-control assay-name-input" %>
  <%= f.submit current_page?(controller: 'assays', action: 'new') ? "Create" : "Update",
               class: "btn btn-primary btn-assay-create" %>
<% end %>

<%= link_to "View All Assays", assays_path, class: "btn btn-info" %>