<h1>Assays</h1>
<table class="table table-assays">
  <thead>
    <tr>
      <th>Assay</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assays.each do |assay| %>
      <tr>
        <td><%= link_to "#{assay.name}", assay, class: "btn btn-success btn-block" %></td>
        <td>
          <%= link_to 'Edit', edit_assay_path(assay), class: "btn btn-primary" %>
          <% if can? :destroy, assay %>
            <%= link_to 'Delete', assay_path(assay),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Assay", new_assay_path, class: "btn btn-primary" %>