<h1>
  <strong>Assay</strong>
  <br>
  <%= @assay.name %>
</h1>

<%= search_form_for @q, url: assay_path(@assay), html: {class: "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.label "On or later than" %>
    <%= f.date_select :production_batch_date_batch_date_gteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.label "Earlier than or on" %>
    <%= f.date_select :production_batch_date_batch_date_lteq,
                      {order: [:day, :month, :year],
                      use_short_month: true},
                      {class: "form-control"} %>
  </div>
    
  <div class="form-group">
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<%= will_paginate @assayBatches, renderer: BootstrapPagination::Rails %>

<table class="table table-assays">
  <thead>
    <tr>
      <th>Batch Number</th>
      <th>Accession Total</th>
    </tr>
  </thead>
  <tbody>
    <% @assayBatches.each do |assayBatch| %>
      <tr>
        <td><%= assay_batch_num(assayBatch) %></td>
        <td><%= assayBatch.accession_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View All Assays", assays_path, class: "btn btn-info" %>