<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "navbar-brand" %>
      
      <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#qapp-navbar-collapse"
                            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="qapp-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Assignments", assignments_path %></li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
            Production Batches<span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "View All Batches", production_batch_dates_path %></li>
            <li><%= link_to "Add a Batch", new_production_batch_date_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
            Assays<span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "View All Assays", assays_path %></li>
            <li><%= link_to "Add an Assay", new_assay_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
            Assay Batches<span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "View All Assay Batches", assay_batches_path %></li>
            <li><%= link_to "Add an Assay Batch", new_assay_batch_path %></li>
          </ul>
        </li>
        <li class="sign-in">
          <% if user_signed_in? %>
            Signed in as <strong><%= current_user.username %></strong>
            <%= link_to "Settings", edit_user_registration_path %>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
            <span> or </span>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
