<!DOCTYPE html>
<html>
<head>
  <title>Workflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
<%= render 'layouts/nav_header' %>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> <%= 'alert-success' if message_type == 'notice' %>">
    <button id="remove-alert">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    </button>
    <p><%= message %></p>
  </div>
<% end %>

<% if user_signed_in? ||
      current_page?(new_user_session_path) ||
      current_page?(new_user_registration_path) %>
  <main>
    <%= yield %>
  </main>
<% else %>
  <main>Please log in to access QApp features.</main>
<% end %>

</body>
</html>
